body { background-image:url('https://thumbs.gfycat.com/DearTediousIndochinesetiger-small.gif'); background-repeat:repeat;
background-size: contain}
h1 {color: white; text-align: center;}
p {color: white; font-size: 20px;text-align: justify-all; padding: 50px}